@model  proiect_ProgramareAvansataPePlatforma.NET.Models.ErrorViewModel

@{
    ViewBag.Title = "Eroare";
}

<h2>Eroare</h2>
<div>
    <h3>Ne pare rău, a apărut o problemă.</h3>
    <p>Controller: @Model.ControllerName</p>
    <p>Acțiune: @Model.ActionName</p>
    <p>Mesaj eroare: @Model.ErrorMessage</p>
</div>
