@{
    ViewBag.Title = "Home Page";
    var orders = ViewBag.Orders as List<proiect_ProgramareAvansataPePlatforma.NET.Models.Order>;
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2>Lista Comenzi</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID Comandă</th>
                        <th>Utilizator</th>
                        <th>Cartea</th>
                        <th>Data Comenzii</th>
                    </tr>
                </thead>
                <tbody>
                    @if (false)
                    {
                    foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.OrderId</td>
                            <td>@order.UserId</td> <!-- Sau orice proprietate relevantă a utilizatorului -->
                            <td>@order.BookId</td> <!-- Sau orice proprietate relevantă a cărții -->
                            <td>@order.OrderDate</td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>