@{
    ViewBag.Title = "Home Page";
    var orders = ViewBag.Orders as List<proiect_ProgramareAvansataPePlatforma.NET.Models.OrderViewModel>;
}

<main>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2>Ultimele noastre comenzi</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Utilizator</th>
                        <th>Cartea</th>
                        <th>Data Comenzii</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.UserId</td>
                            <td>@order.BookId</td>
                            <td>@order.OrderDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle"> </section>
    </div>
</main>